.container{

    border: 2px solid black;
    border-radius: 7px ;
 
}
.imagewithme{

    border: 2px solid black;
    border-radius: 7px ;
 
}
.subs{
    margin-left:130px;
}
.row{
display: flex;
justify-content: center;
justify-content: space-around;
top: 25px;
}